@charset "UTF-8";

:root {
    --figura: rgb(90, 51, 166);
    --fondo: rgb(255, 243, 252);
    /* El valor de contrast-ratio es 7.92 */
}

* {
    margin: 0;
    padding: 0;
    transition: color ease 0.5s;
}

body {
    

    font-family: 'Dela Gothic One', cursive;

    color: var(--figura);
    background: var(--fondo);
    line-height: 1.25;
}

a {
    color: #5A33A6;
    text-decoration: none;
    margin-right: 3vw;
}

a:hover {
    color: #5A33A6;
}

header, main, footer {
    width: 86vw;
    margin: 0;
    padding: 5vh 7vw;
}

header {
    position: absolute;
    top: 0;
    color: #5A33A6;
    text-shadow: 3px 3px 5px rgba(100, 100, 100, 0.25);
}

header h1 {
    font-size: 3.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

footer div#controles{
    background:#FFF3FC;
    border:1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.25);
}

footer div#controles input[type=color]{
    border-radius: 0 0;
    border:none;
    border-right:1px solid #ddd;
    padding:3px 5px;
    width:2rem;
}

footer div#controles input[type=range]{
    width:4rem;
    margin:0 0.5rem;
}